<div class="row justify-content-center">
  <div class="col-9">

    <section class="container-doctors">
      <h3 class="ui-component-note">Asiri Central Hospital - Norris Canal Road-Colombo 10</h3>

      <div class="ui-profile">
        <div class="doctor-profile">
          <div class="doctor-photo"><img src="https://frame.doc.lk/img/photos/doctor-default.gif"></div>
          <div class="doctor-quick-details">
            <ul>
              <li class="doctor-name"><a href="#/">Dr. A.D.K.S.N. YASAWARDENA</a>
                <span class="doctor-qualifications"></span></li>
              <li class="doctor-title">
                ENT Surgeon
              </li>
              <li>Special Notes: <span class="text-danger">Hospital LRH</span></li>
            </ul>
          </div>
        </div>
      </div>

      <h3 class="ui-component-subtitle"><i class="fa fa-clock-o"></i> Asiri Central Hospital - Norris Canal Road-Colombo
        10 Sessions</h3>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel">
          <div class="panel-heading" role="tab" id="heading-9">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-9"
               aria-expanded="false" aria-controls="collapse-9">
              <h4 class="panel-title">
                <i class="fa fa-stethoscope fa-fw"></i> ENT Surgeon <span class="pull-right"><i
                class="fa fa-chevron-down fa-fw"></i></span><br>
                <small>6 Sessions</small>
              </h4>
            </a>
          </div>

          <div id="collapse-9" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-9">

            <div class="ui-profile-sessions ui-profile-sessions-list">
              <ul>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2133826">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2133826">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 06, 2019</li>
                          <li class="session-time">Thu 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            03
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2133826" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2138984">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2138984">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 08, 2019</li>
                          <li class="session-time">Sat 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            02
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2138984" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2145757">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2145757">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 11, 2019</li>
                          <li class="session-time">Tue 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            00
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2145757" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2151095">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2151095">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 13, 2019</li>
                          <li class="session-time">Thu 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            00
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2151095" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2156134">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2156134">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 15, 2019</li>
                          <li class="session-time">Sat 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            00
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2156134" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
                <li>

                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel"
                       data-link="//frame.doc.lk/asiri/book/2162752">

                    <div class="ui-component-content" data-link="//frame.doc.lk/asiri/book/2162752">
                      <div class="session-quick-details">
                        <ul>
                          <li class="session-date">June 18, 2019</li>
                          <li class="session-time">Tue 04:00 pm</li>

                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            00
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="ui-component-options">
                      <ul>
                        <li>
                          <a href="//frame.doc.lk/asiri/book/2162752" class="btn btn-dialog"><i
                            class="fa fa-bookmark-o fa-fw"></i> Book</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3 class="ui-component-subtitle"><i class="fa fa-h-square"></i> Other Hospital Sessions</h3>
      <div class="ui-profile-content ui-profile-hospitals">
        <ul>
          <li>

					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-h-square fa-stack-1x fa-inverse"></i>
					</span> Asiri Surgical Hospital - Kirimandala Mw - Colombo 05

          </li>
        </ul>
      </div>

    </section>

  </div>
</div>
